<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.century.dao.TicketDAO">
    <select id="queryAllTickets" resultType="ticket">
        select id,company, airCode, startDrome, arriveDrome, startTime, arriveTime, mode, airStop, week, date from ticket
    </select>
    <select id="queryTicketById" parameterType="String" resultType="ticket">
        select * from ticket where id = #{ticketId}
    </select>

    <insert id="addTicketBatch" parameterType="list">
        insert ignore into ticket(company, airCode, startDrome, arriveDrome, startTime, arriveTime, mode, airStop, week, date) values
        <foreach collection="list" item="item" separator=",">
            (#{item.company}, #{item.airCode}, #{item.startDrome}, #{item.arriveDrome}, #{item.startTime}, #{item.arriveTime}, #{item.mode}, #{item.airStop}, #{item.week}, #{item.date})
        </foreach>
    </insert>

    <select id="queryTicketByMap_startCity_arriveCity_date" parameterType="map" resultType="ticket">
        select id, company, airCode, startDrome, arriveDrome, startTime, arriveTime, mode, airStop, week, date from ticket where startDrome like concat('%',#{startCity} ,'%') and arriveDrome like concat('%', #{arriveCity},'%') and date = #{date}
    </select>

    <select id="queryTicketByMap_airCode_startTime_arriveTime_date" parameterType="map" resultType="ticket">
        select id,airCode,company,startDrome,arriveDrome,startTime,arriveTime, mode, airStop, week, date from ticket
        <trim prefix="where" prefixOverrides="and | or">
            <if test="startTime != null and startTime != ''">
                and startTime =  #{startTime}
            </if>
            <if test="arriveTime != null and arriveTime != ''">
                and arriveTime = #{arriveTime}
            </if>
            <if test="airCode != null and airCode != ''">
                and airCode = #{airCode}
            </if>
            <if test="date != null and date != ''">
                and date = #{date}
            </if>
        </trim>

    </select>

    <delete id="deleteTicketById" parameterType="map">
        delete from ticket where id = #{ticketId}
    </delete>
    <update id="updateTicket" parameterType="map">
        update ticket
        <trim prefix="set" suffixOverrides="," suffix="where id = #{ticketId}">
            <if test="company != null and company != ''">
                company = #{company},
            </if>
            <if test="airCode != null and airCode != ''">
                airCode = #{airCode},
            </if>
            <if test="startDrome != null and startDrome != ''">
                startDrome = #{startDrome},
            </if>
            <if test="arriveDrome != null and arriveDrome != ''">
                arriveDrome = #{arriveDrome},
            </if>
            <if test="startTime != null and startTime != ''">
                startTime = #{startTime},
            </if>
            <if test="arriveTime != null and arriveTime != ''">
                arriveTime = #{arriveTime},
            </if>
            <if test="mode != null and mode != ''">
                mode = #{mode},
            </if>
            <if test="airStop != null and airStop != ''">
                airStop = #{airStop},
            </if>
            <if test="week != null and week != ''">
                week = #{week},
            </if>
        </trim>
    </update>
</mapper>