<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.century.dao.UserDAO">
    <sql id="userSelectColumn">
        id, name, password, phone, email, date, money
    </sql>

    <sql id="userInsertColumn">
        name, password, phone, email, date, money
    </sql>

    <update id="updatePassword" parameterType="user">
        update user
         <set>
             <if test="password != null and password != ''">
                 password = #{password},
             </if>
         </set>
         where name = #{name}
    </update>

    <select id="queryPasswordByUserName" parameterType="String" resultType="String">
        select password from user where name=#{name}
    </select>

    <select id="queryInfoByUserName" parameterType="String" resultType="user">
        select <include refid="userSelectColumn"></include> from user where name=#{name}
    </select>

    <select id="queryIdByUserName" parameterType="String" resultType="int">
        select id from user where name=#{name}
    </select>

    <select id="queryUserByName" parameterType="string" resultType="user">
        select * from  user where name=#{name}
    </select>

    <insert id="addUser" parameterType="user">
            insert into user(<include refid="userInsertColumn"></include>) values (#{name},#{password},#{phone},#{email},#{date}, #{money});
    </insert>
    <select id="queryAllUser" resultType="user">
        select * from user
    </select>
    <select id="queryUserById" parameterType="int"  resultType="user">
        select * from user where id = #{userId}
    </select>
    <delete id="deleteUserById" parameterType="map">
        delete from user where id = #{userId}
    </delete>
    <update id="updateUser" parameterType="map">
        update user
        <trim prefix="set" suffixOverrides="," suffix="where id = #{userId}">
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="money != null and money != ''">
                money = #{money},
            </if>
        </trim>
    </update>
</mapper>